.textContainer {
	margin-top: 10vh;
	color: #59a2e1;
	flex: 3;
	height: 100vh;
	width: 25vw;
	background-color: rgba(23, 33, 43, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
}

.activeContainer {
	display: flex;
	margin-top: 3vh;
	align-items: center;
}

.activeItem {
	display: flex;
	align-items: center;
	color: #577790;
	text-align: center;
}

.activeContainer img {
	padding-right: 10px;
}

.textContainer h2 {
	margin-bottom: 0px;
	text-align: center;
}
